<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Cena</th>            
            <th>Akcije</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let namirnica of namirnice;index as i">
            <td>{{namirnica.id}}</td>
            <td>{{namirnica.naziv}}</td>
            <td>{{namirnica.cena}}</td>            
            <td>
                <button (click)="izmeni(i,namirnica)">Izmeni</button>
                <button (click)="ukloni(i)">Ukloni</button>
            </td>
        </tr>        
    </tbody>

</table>

