<p>Glavna Komponenta</p>


<app-recept-table [recepti]="recepti" (onIzmeni)="izmeniRecept($event)" (onUkloni)="izbrisiRecept($event)"></app-recept-table>
<br>
<app-recept-form [namirnice]="namirnice" [recept]="receptZaIzmenu" [rezim]="indexZaIzmenuRecept === null ? 'dodavanje' : 'izmena'" (onDodaj)="kreirajRecept($event)" (onReset)="resetujRecept()"></app-recept-form>

<hr>
<br>
<app-namirnica-tabela [namirnice]="namirnice" (onIzmeni)="izmeniNamirnicu($event)" (onUkloni)="ukloniNamirnicu($event)"></app-namirnica-tabela>
<br>
<app-namirnica-forma [namirnica]="namirnicaZaIzmenu" [rezim]="indexZaIzmenuNamirnica === null ? 'dodavanje' : 'izmena'" (onDodaj)="kreirajNamirnicu($event)" (onReset)="resetujNamirnicu()"></app-namirnica-forma>
<hr>
<br>
<app-obrisane-namirnice-tabela [obrisaneNamirnice]="obrisaneNamirnice" (onFizickoUklanjanje)="ukloniFizicki($event)" (onVrati)="vratiNamirnicu($event)"></app-obrisane-namirnice-tabela>
